{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}




{% block body %}

<div class="container"></div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="images/voiture.jpg" alt="Card image cap">

        <div class="card-body">
            <h5 class="card-title">Voir les annonces</h5>
            <h6 class="card-subtitle mb-2 text-muted">ANNONCES</h6>
            <p class="card-text">VIENS VOIR LES VOITURES</p>
            <a href="{{ path('annonces') }}" class="card-link">CLIQUE</a>
        </div>
    </div>

</div>

{% endblock %}
