{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}




{% block body %}
    <body style='background: url("images/voiture.jpg");height: 1000px;background-repeat: no-repeat;background-size: cover'>


    <a class="uk-button uk-button-primary uk-width-2-2 uk-margin-small-bottom uk-position-center uk-overlay" href="{{ path('index') }}" >VENEZ VOIR MON BLOG</a>


    </body>

{% endblock %}
